# generic temporary / dev files
*.pyc
*.sh
!/install_*.sh
*.note
*.xcf
nohup.out

# currently not using
/screenshot*.png

# only for development, normally external
/doreah

# dev environment and build artifacts
build
dist
*.egg*
.env
.python-version
